BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 110

ContinuationIndentWidth: 4
IndentCaseLabels: true
NamespaceIndentation: All
SpaceAfterLogicalNot: true
UseCRLF: false
