# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt
moc_*.cpp
moc_*.h
ui_*.cpp
ui_*.h
qrc_resource.cpp
lemon.pro.user

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
build.ninja
cmake_install.cmake
build/

lemon
lemon_autogen/
watcher_unix
watcher_unix_autogen/


CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest.txt
lemon-*-Linux.sh
lemon-*-Linux.tar.Z
lemon-*-Linux.tar.gz

