site_name: LemenLime Manual
site_description: 为了 OI 比赛而生的基于 Lemon + LemonPlus 的轻量评测系统 | 三大桌面系统支持
site_author: LemenLime

repo_name: Project_LemonLime
repo_url: https://github.com/Project-LemonLime/Project_LemonLime

copyright: 'Copyright &copy; 2016 - 2025 LemenLime'

theme:
  name: material
  language: zh
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  favicon: 'pics/icon.png'
  logo: 'pics/icon.png'
  features:
    - navigation.instant
    - content.code.copy

nav:
  - LemonLime: index.md
  - 快速开始: quickstart.md
  - 简介: intro.md
  - 安装: install.md
  - 设置: settings.md
  - 比赛: contest.md
  - 测试: judge.md
  - 比赛统计: statistics.md
  - 常见问题及回答: issue.md

markdown_extensions:
  - def_list
  - md_in_html
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js