name: MacOS
on: 
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        qt_ver: [5.15.0]
        qt_arch: [clang_64]
    env:
      targetName: lemon
    steps:
      - name: cacheQt
        id: MacosCacheQt
        uses: actions/cache@v1
        with:
          path: ../Qt/${{matrix.qt_ver}}/${{matrix.qt_arch}}
          key: ${{ runner.os }}-Qt/${{matrix.qt_ver}}/${{matrix.qt_arch}}
      - name: setupQt
        if: steps.MacosCacheQt.outputs.cache-hit == 'true'
        shell: pwsh
        env:
          QtPath: ../Qt/${{matrix.qt_ver}}/${{matrix.qt_arch}}
        run: |
          $qt_Path=${env:QtPath}
          echo "::set-env name=Qt5_Dir::$qt_Path"
          echo "::add-path::$qt_Path/bin"    
      - name: Install Qt
        if: steps.MacosCacheQt.outputs.cache-hit != 'true'
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt_ver }}
      
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true
          ref: master
      - name: macOS - ${{ matrix.qt_version }} - Build preparation - Install Packages 
        run: |
          brew install ninja pkg-config
      - name: build macos
        run: |
          cmake . -GNinja -DCMAKE_BUILD_TYPE=Release
          cmake --build . --parallel $(nproc)
      # tag 打包
      - name: package
        run: |
          # 拷贝依赖
          #mv ${targetName} ${targetName}.app
          macdeployqt ${targetName}.app -qmldir=. -verbose=1 -dmg
      - name: Upload artifact
        uses: actions/upload-artifact@v2-preview
        with:
          name: ${{ env.targetName }}.dmg
          path: ${{ env.targetName }}.dmg
      - name: uploadRelease
        if: startsWith(github.event.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ env.targetName }}.dmg
          asset_name: ${{ env.targetName }}.dmg
          tag: ${{ github.ref }}
